<h1>University of the Philippines Diliman - Department of Computer Science</h1>

{% if latest_news_article_list %}
    <ul>
    <p>News:</p>
    {% for news_article in latest_news_article_list %}
        <li><a href="/news/{{ news_article.pk }}/">{{ news_article.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
	<p>News:</p>
    <p>No news articles are available.</p>
{% endif %}

{% if latest_announcement_list %}
    <ul>
    <p>Announcements:</p>
    {% for announcement in latest_announcement_list %}
        <li><a href="/announcements/{{ announcement.pk }}/">{{ announcement.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
	<p>Announcements:</p>
	<p>No announcements are available.</p>
{% endif %}

{% if latest_event_list %}
    <ul>
    <p>Events:</p>
    {% for event in latest_event_list %}
        <li>{{event.date }} - {{ event.description }}</li>
    {% endfor %}
    </ul>
{% else %}
	<p>Events:</p>
    <p>No events are available.</p>
{% endif %}
